html, body {
    padding:0px;
    margin:0px;
}

#myCanvas {
    border:1px solid red;
    width:100%;
    height:100%;
}




#container
{
  height:100%;
  position: relative;
  width: 100%;
}
#play
{
  bottom: 10%;
  left: 30%;
  position: absolute;
  width: 100%;
}
#pause
{
  bottom: 10%;
  left: 60%;
  position: absolute;
  width: 100%;
}



